<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div class="left-col">
    <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col">
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div class="body-wrap"><%- body %></div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
  </div>
</body>
<script>
    var Today = new Date();
    $(".bing").backstretch("http://7vztvx.com1.z0.glb.clouddn.com/bing.jpg?imageView2/2/h/180" +
    "&_=" + Today.getFullYear()+Today.getMonth()+Today.getDay()+Today.getHours());
</script>
</html>
